[alias]
	unstage = reset HEAD --
	cm = commit -v
	cma = commit -v --amend
	cmm = commit -m
	co = checkout
	lg = log --all --decorate --oneline --graph
	lgh = log --decorate --oneline --graph HEAD
	st = status
	hs = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b'
	hsp = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' -p
	hspb = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' -p -b
	hss = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' --stat
	hsh = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' HEAD
	hshp = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' HEAD -p
	hsc = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b'
	hscs = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' --stat
	hscp = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' -p
	hshpb = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' HEAD -p -b
	hshs = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%ar%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' HEAD --stat
	df = diff
	dfc = diff --cached
	dt = difftool
	rb = rebase
	sm = submodule
	smu = submodule update --init
	fa = fetch --all
[user]
	email = tomtomjhj@gmail.com
	name = Jaehwang Jerry Jung
[core]
	editor = nvim
[diff]
	tool = vimdiff3
[credential]
	helper = store
[merge]
	tool = vimdiff3
	conflictstyle = diff3
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[mergetool]
	keepBackup = false
[submodule]
	fetchJobs = 0
