[alias]
	unstage = reset HEAD --
	cm = commit
	cma = commit --amend
	cmm = commit -m
	co = checkout
	lg = log --all --decorate --oneline --graph
	lgc = log --decorate --oneline --graph
	st = status
	hs = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b'
	hsp = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' -p
	hss = log --all --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' --stat
	hsc = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b'
	hscp = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' -p
	hscs = log --graph --topo-order --format=format:'%C(yellow)%h%C(reset) %C(green)%as%C(reset) %C(blue)%an%C(auto)%d\n%C(bold)%s%C(reset)\n%b' --stat
	df = diff
	dfc = diff --cached
	dt = difftool
	rb = rebase
	sm = submodule
	smu = submodule update --init
	fa = fetch --all
	cp = cherry-pick
[user]
	email = tomtomjhj@gmail.com
	name = Jaehwang Jung
[core]
	editor = nvim
	# default: FRX
	pager = less -FRi
[commit]
	verbose = true
[diff]
	tool = vimdiff3
	algorithm = histogram
[credential]
	helper = store
[merge]
	tool = vimdiff3
	conflictstyle = diff3
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[mergetool]
	keepBackup = false
[submodule]
	fetchJobs = 0
[pull]
	ff = only
